.App {
  text-align: center;
}

.App-header {
  align-items: center;
  box-shadow: 0 4px 3px -3px rgb(194, 194, 194);
  display: flex;
  font-size: calc(10px + 2vmin);
  justify-content: space-between;
  max-height: 10vh;
  padding: 0 48px;
}

.App-title {
  font-size: 24px;
  font-weight: 700;
}

.App-darkMode {
  font-size: 16px;
}

.App-body {
  margin: 32px 40px;
}
